<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Sosyal Medya Hesaplarımız</h2>
						</div>
						<div class="social-widget">
							<ul>
								<li>
									<a href="https://www.facebook.com/legolastht/" class="social-facebook">
										<i class="fa fa-facebook"></i>
										<span>21.2K<br>Takipçiler</span>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/AlparslanZombi" class="social-twitter">
										<i class="fa fa-twitter"></i>
										<span>10.2K<br>Takipçiler</span>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/legolas.trr/" class="social-instagram">
										<i class="fa fa-instagram"></i>
										<span>5K<br>Takipçiler</span>
									</a>
								</li>
							</ul>
						</div>
					</div>