<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-6">
					<div class="footer-widget">
						<div class="footer-logo">
							<img src="~/BlogTema/img/Adsız.png" alt="Alparslan Akbaş" />
						</div>
						<p>Alparslan Holding, 300’ün üzerindeki şirketi ve 60 bin çalışanıyla müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.

						</p>
						<ul class="contact-social">
							<li><a href="https://www.facebook.com/legolastht/" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/AlparslanZombi" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/legolas.trr/" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-widget">
						<h3 class="footer-title">Haberdar Olun</h3>
						<div class="newsletter-widget">
							<form>
								<p>Son Paylaştıklarımızdan Haberdar Olmak İçin Bize Katılabilirsiniz.</p>
								<input class="input" name="newsletter" placeholder="Mail Adresiniz">
								<button class="primary-button">Katıl</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="footer-bottom row">
				<div class="col-md-6 col-md-push-6">
					<ul class="footer-nav">
						<li><a href="~/Home/Anasayfa">Anasayfa</a></li>
						<li><a href="~/Blog/Bloglar">Bloglar</a></li>
						<li><a href="~/Proje/Projeler">Projeler</a></li>
						<li><a href="~/Home/Hakkımızda">Hakkımızda</a></li>
						<li><a href="~/Home/Iletişim">İletişim</a></li>
						<li><a href="~/Admin/Giris">Giriş</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="footer-copyright">
             Telif Hakkı Tasarım Ve Kodlama | Alparslan Akbaş Aittir.&copy;<script>document.write(new Date().getFullYear());</script>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>