@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<body class="bg-theme bg-theme1">
<!-- Start wrapper-->
    <div class="container-fluid">

      <div class="row mt-3">
        <div class="col-lg-4">
           <div class="card profile-card-2">
            <div class="card-img-block">
                <img class="img-fluid" src="~/AdminTema/profile-kapak.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
                <img src="~/AdminTema/giphy.gif" alt="Alparslan Akbaş" class="profile">
                <h5 class="card-title">Alparslan AKBAŞ</h5>
                <p class="card-text">23 Yaşında hayatını yazılıma adamış kendini geliştirmeye çalışıp kariyer yapmayı planlayan bir geliştirici.</p>
                <div class="icon-block">
                  <a href="https://www.facebook.com/legolastht/"><i class="fa fa-facebook bg-facebook text-white"></i></a>
				  <a href="https://twitter.com/AlparslanZombi"> <i class="fa fa-twitter bg-twitter text-white"></i></a>
				  <a href="https://www.instagram.com/legolas.trr/"> <i class="fa fa-instagram bg-instagram text-white"></i></a>
                </div>
            </div>

            <div class="card-body border-top border-light">
                 <div class="media align-items-center">
                   <div>
                       <img src="~/AdminTema/assets/images/timeline/html5.svg" class="skill-img" alt="skill img">
                   </div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>HTML5 <span class="float-right">65%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:65%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                  <hr>
                   <div class="media align-items-center">
                   <div>
                       <img src="~/AdminTema/assets/images/timeline/css-3.svg" class="skill-img" alt="skill img">
                   </div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>Css <span class="float-right">65%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:65%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                  <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/bootstrap-4.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>Bootstrap 4 <span class="float-right">50%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:50%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                   <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/angular-icon.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>AngularJS <span class="float-right">35%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:35%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                    <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/react.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>React JS <span class="float-right">15%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:15%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                  <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/c--4.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>C# <span class="float-right">95%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:95%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                  <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/dot-net-core-7.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>Asp.Net Core Mvc <span class="float-right">99%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:99%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div>
                  <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/javascript-1.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>JavaScript <span class="float-right">45%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:45%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div> 
                  <hr>
                  <div class="media align-items-center">
                   <div><img src="~/AdminTema/assets/images/timeline/microsoft-sql-server-1.svg" class="skill-img" alt="skill img"></div>
                     <div class="media-body text-left ml-3">
                       <div class="progress-wrapper">
                         <p>Microsoft SqlServer 2019 <span class="float-right">85%</span></p>
                         <div class="progress" style="height: 5px;">
                          <div class="progress-bar" style="width:85%"></div>
                         </div>
                        </div>                   
                    </div>
                  </div> 
                  <hr>
              </div>
        </div>

        </div>

        <div class="col-lg-8">
           <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profilim</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Mesajlarım</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Profili Düzenle</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Hakkımda</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <h6>About</h6>
                            <p>
                                .Net Developer
                            </p>
                            <h6>Hobbiler</h6>
                            <p>
                                Boş zamanlarımda bilgisayar oynamayı, Kitap Okumayı ve Yüzmeyi Seviyorum.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h6>İlgi Alanlarım</h6>
                            <a href="https://www.w3schools.com/html/" class="badge badge-dark badge-pill">Html5</a>
                            <a href="https://tr.reactjs.org/" class="badge badge-dark badge-pill">React</a>
                            <a href="https://www.w3schools.com/css/" class="badge badge-dark badge-pill">Css</a>
                            <a href="https://angular.io/" class="badge badge-dark badge-pill">Angular</a>
                            <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="badge badge-dark badge-pill">Bootstrap 4</a>
                            <a href="https://docs.microsoft.com/tr-tr/dotnet/csharp/" class="badge badge-dark badge-pill">C#</a>
                            <a href="https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-6.0?view=aspnetcore-6.0" class="badge badge-dark badge-pill">Asp.Net.Core</a>
                            <a href="https://www.javascript.com/" class="badge badge-dark badge-pill">JavaScript</a>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2 mb-3">Son Güncelleme Yazılarım</h5>
                             <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>                                    
                                    <tr>
                                        <td>
                                        <strong>01.07.2022 Tarihinde Mimari Yapı Kuruldu Ve Temalar Yüklendi.</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>02.07.2022-10.07.2022 Tarihleri Arasında Blogger v1.0 Tamamlandı.</strong>
                                        </td>
                                    </tr>
                                    <tr class="border-end">
                                        <td>
                                            <strong></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>13.07.2022 Tarihinde Publish Edilip Hostinge Atıldı.</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                @await Component.InvokeAsync("AdminIletisim")
                <div class="tab-pane" id="edit">
                    <div class="col-lg-12">
        <div class="card">
           <div class="card-body">
           <div class="card-title">Profili Güncelle</div>
           <hr>
            <form asp-action="Profil" asp-controller="Admin" method="post">
           <div class="form-group">
             <input hidden="hidden" type="text" asp-for="WriterID" />
            <label asp-for="WriterName">Yazar Adı</label>
            <input type="text" class="form-control form-control-rounded" id="input-6" asp-for="WriterName"required="">
           </div>
           <div class="form-group">
            <label asp-for="WriterMail">Mail</label>
            <input type="email" class="form-control form-control-rounded" id="input-7"asp-for="WriterMail"required="">
           </div>
           <div class="form-group">
            <label asp-for="WriterPassword">Şifre</label>
            <input type="password" class="form-control form-control-rounded" id="input-8" asp-for="WriterPassword" required="">
           </div>
           <div class="form-group">
            <label asp-for="WriterPicture">Resim Link</label>
            <input type="url" class="form-control form-control-rounded" id="input-9" asp-for="WriterPicture"required="" >
           </div>
           <div class="form-group">
           <label asp-for="WriterAbout">Hakkımda</label>
           <textarea asp-for="WriterAbout" id="summernote" class="form-control form-control-rounded"></textarea>
           </div>
            <button type="submit" class="btn btn-light btn-round px-5"> Güncelle</button>
          </form>
         </div>
         </div>
      </div>
                </div>
            </div>
        </div>
      </div>
      </div>
        
    </div>
    </div>
</body>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

     <script>
      $('#summernote').summernote({
        tabsize: 2,
        height: 400,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
