<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">     
       <img src="~/AdminTema/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">Alparslan Blogger</h5>
   </div>

 <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header"><p class="font-weight-bold">ADMİN İŞLEMLER PANELİ</p>
         <hr /> </li>
      <li>
        <a href="~/Admin/Profil">

          <i class="zmdi zmdi-account"></i> <span class="font-weight-bold">Profil</span>       
        </a> 
        <hr />
      </li>

      <li>
        <a href="~/Admin/İstatistikler">
          <i class="zmdi zmdi-view-dashboard"></i> <span class="font-weight-bold">İstatistikler</span>
        </a>
        <hr />
      </li>

      <li>
        <a href="~/Admin/BlogListesi">
          <i class="zmdi zmdi-grid"></i> <span class="font-weight-bold">Bloglarım</span>
        </a>
        <hr />
      </li>

      <li>
        <a href="~/Admin/ProjeListesi">
          <i class="zmdi zmdi-grid"></i> <span class="font-weight-bold">Projelerim</span>
        </a>
        <hr />
      </li>

      <li>
        <a href="~/Home/Anasayfa">
          <i class="zmdi zmdi-forward"></i> <span class="font-weight-bold">Siteye Git</span>
        </a>
        <hr />
      </li>

      <li>
        <a href="~/Admin/Çıkış">
          <i class="zmdi zmdi-close-circle"></i> <span class="font-weight-bold">Çıkış</span>
        </a>
        <hr />
      </li>
    </ul>
   
   </div>