@using EntityLayer.Concrete
@model List<Blog>
<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Yazılım</h2>
							</div>
						</div>
						@foreach (var x in Model)
								{
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="~/Blog/Detaylar/@x.BlogID"><img src="@x.BlogLittlePicture" alt=""></a>
								<div class="post-body">
									<h3 class="post-title title-sm">@x.BlogTitle</h3>
									<h3 class="post-title title-sm"><a href="~/Blog/Detaylar/@x.BlogID">@x.BlogShort</a></h3>
									<ul class="post-meta">
										<li>Alparslan Akbaş</li>
										<li>@(((DateTime)x.BlogDate).ToString("dd-MMMM-yyyy"))</li>
									</ul>
								</div>
							</div>
						</div>
								}</div>