
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_BlogsLayout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<body>
		<!-- PAGE HEADER -->
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10 text-center">
						<h1 class="text-uppercase">Hakkımızda</h1>
						<p class="lead">Akbaş Holding Olarak Müşterilerimize En İyi Hizmetleri Sunmaktayız.Lütfen Vizyonlarımızı Mutlaka Okuyun.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->
	<!-- /HEADER -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">AKBAŞ Holdingin Doğuşu</h2>
						</div>
						<p>Akbaş Holding, 1967 yılında Hacı Haydar Coşkun tarafından Adana'da kurulan Türk şirketler topluluğudur. 2022 yılı itibarıyla 40 milyondan fazla müşteriye, 14 ülkede yaklaşık 60 bin çalışan ile hizmet vermektedir.

Şirketin başında Yönetim Kurulu Başkanı Alparslan Akbaş bulunmaktadır.</p>
						<blockquote class="blockquote">
							<p>Gençler cesaretimizi takviye ve idame eden sizlersiniz. Siz, almakta olduğunuz terbiye ve irfan ile insanlık ve medeniyetin, vatan sevgisinin, fikir hürriyetinin en kıymetli timsali olacaksınız. Yükselen yeni nesil, istikbal sizsiniz. Cumhuriyeti biz kurduk, onu yükseltecek ve yaşatacak sizsiniz.</p>
							<footer class="blockquote-footer">Mustafa Kemal Atatürk</footer>
						</blockquote>
					</div>
				</div>
				<div class="col-md-7">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Vizyonumuz</h2>
						</div>
						<p>Sektörde, Türkiye'nin bir numaralı yazılım şirketi olmak, Hizmet ve ürün kalitesiyle müşterilerimizin birinci tercihi olarak sürekliliği sağlamak, Ülkemizde eğitime, sağlığa, çevreye ve tarihi değerlerimize sahip çıkarak daha bilinçli bir toplum oluşmasına katkıda bulunmak.</p>
						<p>Faaliyette bulunduğumuz sektörlerde; bireye ve topluma saygılı, hukuka, ekonomik ve ahlaki ilkelere bağlı, sağlık, emniyet ve çevreye duyarlı olarak müşterileri, çalışanları ve hissedarlarının beklentilerini en üst düzeyde karşılamak.</p>
						<p>En ileri teknoloji uzman kadro ile bütünleştirip, geniş kitlelere ulaşabilecek örnek, yaygın, bütünleşmiş bir hizmet sunmak ve müşteri memnuniyetini en üst düzeyde tutmak.</p>
						<p>İnsanın en önemli değerlerinden biri olan Teknoloji ve Yazılım'ı çağdaş standartlarda, bütüncül kalite anlayışı içerisinde toplumun değerlerine saygılı bir hizmet yaklaşımını sınır tanımadan sunmak.</p>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
</body>

</html>


