	<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Abone Ol</h2>
						</div>
						<div class="newsletter-widget">
							<form method="post">
								<p>Yeni Bloglarımızdan Haberdar Olmak İçin Abone Olun</p>
								<input class="input" name="Mail" placeholder="Mail Adresi Girin" type="email">
								<button class="primary-button">Katıl</button>
							</form>
						</div>
					</div>